/* ============== contacts ============== */

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  height: 100%;
  background-color: var(--color-gray-1);
  overflow-x: hidden;
  overflow-y: scroll;
}

.contacts__item {
  display: inline-flex;
  margin: 20px 0;
  padding: 10px;
  width: 80%;
  min-height: 80px;
  background-color: var(--color-gray-2);
  border-top-right-radius: calc(var(--border-radius) * 3);
  border-bottom-right-radius: calc(var(--border-radius) * 3);
  border-left: calc(var(--border-width) * 2) solid var(--color-green-1);
}


/* ============== user ============== */

.user {
  display: flex;
  align-items: center;
}

.user__avatar {
  border-radius: 100%;
  user-select: none;
}

.user__login {
  padding-left: 2rem;
  font-size: 1.2rem;
  color: var(--color-black-1);
}



/* ============== controls ============== */

.controls {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding-left: 2rem;
  width: 100%;
  user-select: none;
}

.controls__button {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  padding: 0.2rem;
  background-color: var(--color-gray-1);
  border-radius: 100%;
  cursor: pointer;
}

.controls__button .material-icons {
  color: var(--color-gray-2);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: color;
}
.controls__button:hover .material-icons {
  color: var(--color-black-1);
}

