/* ============== profile ============== */

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.profile__content {
  display: flex;
  flex-direction: column;
  color: var(--color-black-1);
}

.profile__row {
  padding: 10px 0;
}


/* ============== user ============== */

.profile .user {}

.profile .user__login {
  padding: 0;
  color: var(--color-black-1);
  font-size: 1.5rem;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: color;
}

.profile .user__avatar {
  user-select: none;
  border-radius: 100%;
}

