/* ============== main ============== */

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--color-gray-1);
  overflow: hidden;
}

.main__footer {
  padding: 20px;
  background-color: var(--color-black-1);
}


/* ============== registration-form ============== */

.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-form__row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.registration-form__label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  width: 40%;
  font-size: 1.2rem;
  cursor: pointer;
}

.registration-form__text-input {
  padding: var(--input-padding);
  font-size: 1.2rem;
  color: var(--color-black-1);
  border-radius: var(--border-radius);
  background-color: var(--color-white-1);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: box-shadow;
}
.registration-form__text-input_error {
  box-shadow: 0 0 calc(var(--border-width) * 3) 0px var(--color-red-1);
}
.registration-form__text-input:focus {
  box-shadow: 0 0 calc(var(--border-width) * 3) 0px var(--color-green-1);
}

.registration-form__avatar-container {
   display: flex;
   width: 60%;
}

.registration-form__avatar {
  width: 120px;
  height: 120px;
  background-image: url("guest.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  cursor: pointer;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: box-shadow;
}
.registration-form__avatar:hover,
.registration-form__avatar:active {
  box-shadow: 0 0 calc(var(--border-width) * 3) 0 var(--color-green-1);
}

.registration-form__reg-button {
  padding: 10px 30px;
  width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--color-white-1);
  background-color: var(--color-green-1);
  border-radius: var(--border-radius);
  cursor: pointer;
  user-select: none;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: background-color;
}
.registration-form__reg-button:hover,
.registration-form__reg-button:focus,
.registration-form__reg-button:active {
  background-color: var(--color-green-2);
}

.registration-form__error-message {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  color: var(--color-red-1);
}


/* ============== copyright ============== */

.copyright {
  color: var(--color-gray-2);
}

