<!DOCTYPE html>
<html>


<head>
  <title>login</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="chat.css">
</head>


<body>

  <div class="main">

    <ul class="chat">
      <li class="chat__message chat__message_person-1">
        <div class="chat__text">Привет !</div>
      </li>
      <li class="chat__message chat__message_person-2">
        <div class="chat__text">Здорова</div>
      </li>
      <li class="chat__message chat__message_person-2">
        <div class="chat__text">Как дела ?</div>
      </li>
      <li class="chat__message chat__message_person-1">
        <div class="chat__text">Нормуль</div>
      </li>
      <li class="chat__message chat__message_person-2">
        <div class="chat__text">+</div>
      </li>
      <li class="chat__message chat__message_person-1">
        <div class="chat__text">-</div>
      </li>
      <li class="chat__message chat__message_person-2">
        <div class="chat__text">+</div>
      </li>
      <li class="chat__message chat__message_person-1">
        <div class="chat__text">-</div>
      </li>
      <li class="chat__message chat__message_person-2">
        <div class="chat__text">+</div>
      </li>
      <li class="chat__message chat__message_person-1">
        <div class="chat__text">-</div>
      </li>
      <li class="chat__message chat__message_person-2">
        <div class="chat__text">+</div>
      </li>
      <li class="chat__message chat__message_person-1">
        <div class="chat__text">-</div>
      </li>
      <li class="chat__message chat__message_person-2">
        <div class="chat__text">+</div>
      </li>
      <li class="chat__message chat__message_person-1">
        <div class="chat__text">-</div>
      </li>
      <li class="chat__message chat__message_person-2">
        <div class="chat__text">+</div>
      </li>
      <li class="chat__message chat__message_person-1">
        <div class="chat__text">-</div>
      </li>
      <li class="chat__message chat__message_person-2">
        <div class="chat__text">+</div>
      </li>
      <li class="chat__message chat__message_person-1">
        <div class="chat__text">-</div>
      </li>
      <li class="chat__message chat__message_person-2">
        <div class="chat__text">+</div>
      </li>
      <li class="chat__message chat__message_person-1">
        <div class="chat__text">-</div>
      </li>
      <li class="chat__message chat__message_person-2">
        <div class="chat__text">+</div>
      </li>
      <li class="chat__message chat__message_person-1">
        <div class="chat__text">-</div>
      </li>
      <li class="chat__message chat__message_person-2">
        <div class="chat__text">+</div>
      </li>
      <li class="chat__message chat__message_person-1">
        <div class="chat__text">-</div>
      </li>
      <li class="chat__message chat__message_person-2">
        <div class="chat__text">+</div>
      </li>
      <li class="chat__message chat__message_person-1">
        <div class="chat__text">-</div>
      </li>
      <li class="chat__message chat__message_person-2">
        <div class="chat__text">+</div>
      </li>
      <li class="chat__message chat__message_person-1">
        <div class="chat__text">-</div>
      </li>
    </ul>

    <form class="chat-form" action="#" method="#">
      <div class="chat-form__row">
        <input class="chat-form__text-input" name="#" type="text" placeholder="Напишите сообщение...">
      </div>
      <div class="chat-form__row">
        <button class="chat-form__send-button" type="submit">Отправить</button>
      </div>
    </form>

  </div>

</body>

</html>
