<!DOCTYPE html>
<html>


<head>
  <title>login</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="about.css">
</head>


<body>

  <div class="main">

    <div class="content">

      <div class="content__row">
        <b class="text text_blue-1">Chimi</b> (<i>chat imitator</i>) - онлайн чат, он же учебный проект
      </div>

      <div class="content__row">
        &copy; Корниенко Юрий
      </div>

      <div class="content__row">
        Приложение разработано на языке <b class="text text_blue-2">Dart</b>
      </div>

      <div class="content__row">
        <img src="dartlogo.png" alt="Dart" width="200" height="200">
      </div>

    </div>

  </div>

</body>

</html>
