@import url("../reset.css");
@import url("../theme.css");


/* ============== main ============== */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* ============== add-form ============== */

.add-form {
  display: flex;
  flex-direction: column;
}

.add-form__row {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.add-form__label {
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.add-form__text-input {
  padding: var(--input-padding);
  font-size: 1.2rem;
  color: var(--color-black-1);
  border-radius: var(--border-radius);
  background-color: var(--color-white-1);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: box-shadow;
}
.add-form__text-input:focus {
  box-shadow: 0 0 calc(var(--border-width) * 3) 0px var(--color-green-1);
}

.add-form__add-button {
  padding: 10px 30px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-white-1);
  background-color: var(--color-green-1);
  border-radius: var(--border-radius);
  cursor: pointer;
  user-select: none;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: background-color;
}
.add-form__add-button:hover,
.add-form__add-button:focus,
.add-form__add-button:active {
  background-color: var(--color-green-2);
}

.add-form__error-message {
  padding: 10px 0;
  color: var(--color-red-1);
}

