/* Переменные, отвечающие за оформление */


/* ============== Загружаемые шрифты ============== */

/* Roboto */

@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --font-roboto: 'Roboto', sans-serif;
}

/* Material icons */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


/* ============== Цвета ============== */

:root {
  --color-gray-1: #dbdbe3;
  --color-gray-2: #b8bbbf;
  --color-gray-3: #c5c7cd;
  --color-black-1: #222;
  --color-green-1: #66cc66;
  --color-green-2: #85d685;
  --color-red-1: #a63f3f;
  --color-white-1: #fff;
}


/* ============== Анимации ============== */

:root {
  --transition-timing-function: ease;
  --transition-duration: 0.2s;
}


/* ============== Другие стили ============== */

:root {
  --border-radius: 5px;
  --border-width: 2px;
  --input-padding: 8px;
}
