@import url("../reset.css");
@import url("../theme.css");


/* ============== main ============== */

.main {
  position: fixed;
  z-index: 111;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main__spinner {
  background-image: url("spinner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
}
