<!DOCTYPE html>
<html>


<head>
  <title>login</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="contacts.css">
</head>


<body>

  <div class="main">

    <ul class="contacts">

      <li class="contacts__item">
        <div class="user">
          <img class="user__avatar" src="guest.png" alt="Аватра" width="60" height="60">
          <div class="user__login">Vasia2018</div>
        </div>
        <div class="controls">
          <div class="controls__button" title="Удалить контакт">
            <i class="material-icons">delete</i>
          </div>
        </div>
      </li>

      <li class="contacts__item">
        <div class="user">
          <img class="user__avatar" src="guest.png" alt="Аватра" width="60" height="60">
          <div class="user__login">Ivanich21007</div>
        </div>
        <div class="controls">
          <div class="controls__button" title="Удалить контакт">
            <i class="material-icons">delete</i>
          </div>
        </div>
      </li>

      <li class="contacts__item">
        <div class="user">
          <img class="user__avatar" src="guest.png" alt="Аватра" width="60" height="60">
          <div class="user__login">Valera22048</div>
        </div>
        <div class="controls">
          <div class="controls__button" title="Удалить контакт">
            <i class="material-icons">delete</i>
          </div>
        </div>
      </li>

    </ul>

  </div>

</body>

</html>
