@import url("../reset.css");
@import url("../theme.css");


/* ============== main ============== */

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: var(--font-roboto);
}

.main__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--color-gray-1);
}

.main__footer {
  padding: 20px;
  background-color: var(--color-black-1);
}


/* ============== login-form ============== */

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form__row {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.login-form__text-input {
  width: 80%;
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-black-1);
  border-bottom: 2px solid var(--color-gray-2);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: border-bottom-color;
}
.login-form__text-input::placeholder {
  color: var(--color-gray-2);
}
.login-form__text-input:focus {
  border-bottom-color: var(--color-green-1);
}

.login-form__login-button {
  padding: 10px 30px;
  width: 80%;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-white-1);
  background-color: var(--color-green-1);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: background-color;
}
.login-form__login-button:hover,
.login-form__login-button:focus,
.login-form__login-button:active {
  background-color: var(--color-green-2);
}

.login-form__reg-button {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-gray-2);
  user-select: none;
  cursor: pointer;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: color;
}
.login-form__reg-button:hover,
.login-form__reg-button:focus,
.login-form__reg-button:active {
  color: var(--color-black-1);
}

.login-form__error-message {
  padding: 10px 0;
  color: var(--color-red-1);
}


/* ============== copyright ============== */

.copyright {
  color: var(--color-gray-2);
}

