<!DOCTYPE html>
<html>


<head>
  <title>login</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>


<body>

  <div class="main">

    <div class="sidebar">
      <div class="sidebar__top">
        <img class="avatar" src="guest.png" alt="Аватар" width="120" height="120">
      </div>
      <div class="sidebar__main">
        <ul class="menu">
          <li class="menu__item">
            <a href="#">
              <i class="material-icons">home</i>
              <span class="menu__text">Мой профиль</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#">
              <i class="material-icons">people</i>
              <span class="menu__text">Контакты</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#">
              <i class="material-icons">message</i>
              <span class="menu__text">Сообщения</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#">
              <i class="material-icons">person_add</i>
              <span class="menu__text">Добавить контакт</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#">
              <i class="material-icons">info</i>
              <span class="menu__text">О приложении</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="content">
    </div>

  </div>

</body>

</html>
