<!DOCTYPE html>
<html>


<head>
  <title>login</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="profile.css">
</head>


<body>

  <div class="main">

    <div class="content user">

      <div class="content__row">
        <img class="user__avatar" src="guest.png" alt="Аватар" width="200" height="200">
      </div>

      <div class="content__row">
        <div class="user__login" title="Изменить логин">Vasia2018</div>
      </div>

    </div>

  </div>

</body>


</html>
